<div class="col-md-12">
  <h1 align="center">Welcome to the TODO App</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla non tortor eget enim molestie dignissim. Praesent bibendum, nisi id venenatis imperdiet, odio felis scelerisque nunc, non placerat massa nibh a enim. Nunc euismod sed nisi vel bibendum. Pellentesque in placerat velit. Duis quis nulla posuere, consectetur tellus ac, gravida turpis. In purus mi, commodo non sagittis quis, molestie non ante. Curabitur eleifend semper purus vulputate venenatis. Vivamus placerat elit a lectus convallis, nec egestas eros congue. </p>
</div>
<% if signed_in? %>
  <h2>Hey you are logged in</h2>
<% end %>
